body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    font-size: 14px;
    color: whitesmoke;
 }

 h1{
    color: #2E8B57;
 }

 .menuDiv{
    background-color: #292929;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    width: 27%;
    height: 100%;
    position: fixed;
    overflow: auto;
 }

.menuList {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    font-weight: bold;
}

li a {
    text-align: center;
    display: block;
    color: whitesmoke;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #2E8B57;
    color: whitesmoke;
}

li a:active {
    background-color: #555;
    color: whitesmoke;
}

.homeDiv{
    float: right;
    width: 69%;
    padding-right: 2%;
    padding-left: 2%;
    background-color: #deffec;
    height: 100vh;
    color: black;
}

.Emily {
    max-width: 50%;
    max-height: 50%;
    border: 5px solid #2E8B57;
}

.socialIcons{
    position: absolute;
    bottom: 0;
}

.fa {
    color: whitesmoke;
    padding: 20px;
    text-decoration: none;
}

.fa:hover {
    color: #2E8B57;
}

h2 {
    margin-bottom: 0;
}

h3 {
    margin-bottom: 0;
    margin-top: 0;
    color: grey;
}

.certList {
    margin-left:10px;
    padding-left:0;
    font-size: 14px;
    list-style-type: circle;
 }

 .skillList {
    margin-left:10px;
    padding-left:0;
    font-size: 14px;
    list-style-type: circle;
 }

 .credly a {
    background-color:#2E8B57;
    padding: 10px;
    width: fit-content;
    color: whitesmoke;
    font-size:20px;
    text-decoration: none;
 }

 .credly a:hover{
    background: #292929;
 }