.emilyheadshot {
    float: left;
    margin-right: 20px;
    max-width: 50%;
    height: auto;
}

h1 { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: clamp(1.25rem, 2.5vw, 3rem);
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 28px;
    color: #2E8B57 }

 h2 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-style: normal; 
    font-variant: normal;
    font-weight: 700; 
    margin-bottom: 0;
    line-height: 22px;
}

h3 { font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 18px; 
    color: grey;}

blockquote { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 21px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; }


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    font-size: 14px;
    color: whitesmoke;
}





 .menuDiv{
    background-color: #292929;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    width: 27%;
    height: 100%;
    position: fixed;
    overflow: auto;
 }

.menuList {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    font-weight: bold;
}

li a {
    text-align: center;
    display: block;
    color: whitesmoke;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #2E8B57;
    color: whitesmoke;
}

li a:active {
    background-color: #555;
    color: whitesmoke;
}

.homeDiv{
    float: right;
    width: 69%;
    padding-right: 2%;
    padding-left: 2%;
    background-color: #deffec;
    height: 100vh;
    color: black;
}



.socialIcons{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa {
    color: whitesmoke;
    padding: 20px;
    text-decoration: none;
}

.fa:hover {
    color: #2E8B57;
}


.certList {
    margin-left:10px;
    padding-left:0;
    font-size: 14px;
    list-style-type: circle;
 }

 .skillList {
    margin-left:10px;
    padding-left:0;
    font-size: 14px;
    list-style-type: circle;
 }

 .credly a {
    background-color:#2E8B57;
    padding: 10px;
    width: fit-content;
    color: whitesmoke;
    font-size:20px;
    text-decoration: none;
 }

 .credly a:hover{
    background: #292929;
 }

 .commlinks{
    background-color:#2E8B57;
    padding: 4px;
    width: fit-content;
    color: whitesmoke;
    font-size:20px;
    text-decoration: none;
 }